force-app/main/default/flows/EcoVadis_Retrieve_Sustainability_Ratings.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>EcoVadis_Data_Service</name>
        <label>EcoVadis Data Service</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <actionName>EcoVadis_EVDataService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>All_Responses</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>integrationId</name>
            <value>
                <elementReference>ecoVadisIntegrationId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>returnedEVDataList</assignToReference>
            <name>data</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>returnedJson</assignToReference>
            <name>jsonResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <description>Insert your own elements to store the data in ReturnedEVData in Salesforce records per your process</description>
        <name>Assign_and_save_data_here</name>
        <label>Assign and save data here</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <assignmentItems>
            <assignToReference>placeholder</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>ECS_Report_Create_Complete</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Grab_item</name>
        <label>Grab item</label>
        <locationX>699</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>returnedEVData</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_Responses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Responses</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Current_Assessment_Stage</name>
        <label>Current Assessment Stage</label>
        <locationX>380</locationX>
        <locationY>854</locationY>
        <defaultConnector>
            <targetReference>EcoVadis_Supplier_Not_Ready</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Not_under_assessment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>returnedEVData.current_stage</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not under assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sharing_Status</targetReference>
            </connector>
            <label>Not under assessment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sharing_Status</name>
        <label>Sharing Status</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>EcoVadis_Scorecard_Not_Shared</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>returnedEVData.sharing_status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_and_save_data_here</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_a_record_returned</name>
        <label>Was a record returned?</label>
        <locationX>611</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>No_Data_Returned</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>returnedEVData</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Current_Assessment_Stage</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Template flow demonstrating how the EcoVadis Sustainability Ratings package can be used to retrieve ratings data.</description>
    <interviewLabel>EcoVadis_ {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>EcoVadis Retrieve Sustainability Ratings</label>
    <loops>
        <name>All_Responses</name>
        <label>All Responses</label>
        <locationX>611</locationX>
        <locationY>398</locationY>
        <collectionReference>returnedEVDataList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Grab_item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Was_a_record_returned</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Confirmation</name>
        <label>Confirmation</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>EcoVadis_Data_Service</targetReference>
        </connector>
        <fields>
            <name>Confirmation_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Confirmation_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EcoVadisLogoImage</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>EcoVadisLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>100px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>EcoVadis Logo</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Confirmation_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>WelcomeText</name>
                    <fieldText>&lt;p&gt;You are about to retrieve data for the company related to EcoVadis Integration Id = &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!ecoVadisIntegrationId}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EcoVadis_Scorecard_Not_Shared</name>
        <label>EcoVadis Scorecard Not Shared</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EcoVadis_Scorecard_Not_Shared_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EcoVadis_Scorecard_Not_Shared_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EcoVadisLogoImage_3</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>EcoVadisLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>100px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>EcoVadis Logo</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EcoVadis_Scorecard_Not_Shared_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EcoVadisSupplierNotSharedMessage</name>
                    <fieldText>&lt;p&gt;&lt;b&gt;{!returnedEVData.ev_supplier_name}&lt;/b&gt; has not allowed sharing of their scorecard.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;{!returnedEVData.sharing_status}&lt;/b&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EcoVadis_Supplier_Not_Ready</name>
        <label>EcoVadis Supplier Not Ready</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>EcoVadis_Supplier_Not_Ready_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>EcoVadis_Supplier_Not_Ready_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EcoVadisLogoImage_2</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>EcoVadisLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>100px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>EcoVadis Logo</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>EcoVadis_Supplier_Not_Ready_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EcoVadisSupplierNotReadyMessage</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Oops! &lt;/span&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!returnedEVData.ev_supplier_name}&lt;/b&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; ({!ecoVadisIntegrationId}) has not completed the assessment process.&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ECS_Report_Create_Complete</name>
        <label>ECS Report Create Complete</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ECS_Report_Create_Complete_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ECS_Report_Create_Complete_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EcoVadisLogoImage_4</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>EcoVadisLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>100px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>EcoVadis Logo</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>ECS_Report_Create_Complete_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ECSReportCreateCompleteMessage</name>
                    <fieldText>&lt;p&gt;EcoVadis Sustainability Ratings retrieval complete&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Data_Returned</name>
        <label>No Data Returned</label>
        <locationX>842</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>No_Data_Returned_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>No_Data_Returned_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EcoVadisLogoImage_1</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>EcoVadisLogo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>100px</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageAlt</name>
                        <value>
                            <stringValue>EcoVadis Logo</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>No_Data_Returned_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NoDataReturnedMessage</name>
                    <fieldText>&lt;p&gt;The EcoVadis integration returned no data.&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>9</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Confirmation</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Integration Id corresponding to the company you wish to retrieve data for</description>
        <name>ecoVadisIntegrationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>placeholder variable.  Create your own variables and flow elements to save retrieved data</description>
        <name>placeholder</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnedEVData</name>
        <apexClass>ecovadis__EcoVadis_EVData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnedEVDataList</name>
        <apexClass>ecovadis__EcoVadis_EVData</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>returnedJson</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
